
.select-var-block  > * {
    display: inline-block;
}

/* https://dash.plotly.com/dash-core-components/tabs */ 

.custom-tabs-container {
    width: 60%;
    background-color: #060606;
    border: 0px;
}

#tabs-with-classes > * {
    color: white;
    background-color: #060606;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    padding: 10px;

}

#tabs-with-classes > *:hover {
    background-color: #3f3f3f;
}

#tabs-with-classes > .tab--selected {
    /* background-color: #3f3f3f; */
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 2px solid #1975FA !important;
}

/* https://dash.plotly.com/dash-core-components/datepickerrange */

.DateRangePickerInput {
    background-color: #060606;
    border: 0px;
    color: white;
}

.DateRangePickerInput * {
    color: white;
    background-color: #060606;
}

.DateRangePickerInput_arrow_svg {
    fill: white;
}

.DateRangePickerInput .DateInput_input__focused {
    border-bottom: 2px solid #1975FA;
}

.DateRangePickerInput .CalendarDay__selected, .CalendarDay__selected_span {
    border: 1px double #1975FA;
}
.DateRangePickerInput .CalendarDay__selected:hover, .CalendarDay__selected_span:hover {
    background: #1975FA;
    border: 1px double #1975FA;
}

/*
.DayPickerKeyboardShortcuts_buttonReset, .DayPickerKeyboardShortcuts_showSpan, .DayPickerKeyboardShortcuts_showSpan__bottomRight > * {
    background: #1975FA;
}
*/

